.card-img-top{
    height: 70px;
    width: 70px;
}

.main{
    background-color: #273B7A;
    height: 100vh;
}
.logincolor{
    background-color: #273B7A;
    width: 274px;
    color: white;
}
.clrbtn .logincolor:active{
    border: 1px solid #273B7A;
    color: #273B7A ;
}
.card{
    background-color: #F8F9FA;
}
