.card-bord {
  border-radius: 13px;
}
.btm-border-1 {
  border-bottom: 3px solid #33c173;
  width: 90px;
}
.btm-border-2 {
  border-bottom: 3px solid rgb(253, 12, 12);
  width: 90px;
}
.invoice-icon {
  background-color: #33c173;
  height: 36px;
  width: 36px;
  border-radius: 6px;
}
.invoice-icon-2 {
  background-color: rgb(253, 12, 12);
  height: 36px;
  width: 36px;
  border-radius: 6px;
}
.form-check-input:checked {
  background-color: #33c173;
  border-color: #33c173;
}
.paid-badge {
  background-color: #33c173;
  color: azure;
}

.edit-clr {
  color: #33c173;
}
.brdr {
  border-radius: 13px;
}

.input-group .filter-button:hover {
  background-color: #33c173;
  color: white;
}
.input-group .search-border {
  border-color: #80808045;
  border-left: none;
}

