<!-- Sidebar -->
<!-- <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar" style="height: 525px;">
-->
<div class="position-sticky my-5">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a
        class="nav-link text-secondary d-flex align-items-center fw-bold"
        href="#">
        <div
          class="sq-bg d-flex align-items-center justify-content-center"
          style="width: 29px; height: 29px" >
          <i class="fa fa-th-large" aria-hidden="true"></i
        ></div>
        <span class="ms-3">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-secondary d-flex align-items-center fw-bold"
        href="#">
        <div
          class="sq-bg d-flex align-items-center justify-content-center"
          style="width: 29px; height: 29px" >
          <i class="fa fa-volume-control-phone" aria-hidden="true"></i
        ></div>
        <span class="ms-3">Contact</span>
      </a>
    </li>
    <li class="nav-item brd-right" routerLinkActive="active">
      <a
        class="nav-link text-secondary d-flex align-items-center fw-bold"
        routerLink="/invoice">
        <div
          class="sq-bg-1 d-flex align-items-center justify-content-center rounded"
          style="width: 29px; height: 29px" >
        <i class="fa fa-industry" aria-hidden="true"></i>
        </div>
        <span class="ms-3">Invoice</span>
        <span class="ms-4 chevron">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link text-secondary d-flex align-items-center fw-bold"
        href="#">
        <div
          class="sq-bg d-flex align-items-center justify-content-center"
          style="width: 29px; height: 29px">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
        <span class="ms-3">Setting</span>
      </a>
    </li>
  </ul>
</div>
<!-- </nav> -->
