
  .brd-right, .active:active{
    border-right: 4px solid #33c173 !important ;
    background-color: rgb(216, 240, 216);
  }
  
  .sq-bg{
    background-color: aliceblue;
    border-radius: 20%;
  }
.sq-bg-1{
  background-color: #33c173;
  color: white;
}
li a .chevron{
  color: #33c173;
}
