
.logout:hover{
    cursor: pointer;
    background-color: #33C173;
    color: white;
}
.textclr{
    color:#33C173;
    font-size: large;
}
.logoutMenu:hover{
    cursor: pointer;
    background-color: #33C173;
    color: wheat;
}

.invoiceLogo{
    width: 149px;
}
