<!-- <nav class="navbar navbar-light "> -->
<div class="row p-2 mx-0">
  <div class="col-6">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/invoicelogo.svg" alt="" class="invoiceLogo mt-3">
      </a>
  </div>
  <div class="col-6 d-flex justify-content-end">
    
    <div class="dropdown" *ngFor="let i of userCredential">
      <!-- notification icon -->
      <a
        class="btn dropdown-toggle fw-bold"
        role="button"
        id="dropdownMenuLink"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
      </svg>
        <span class="textclr ms-2 fw-bold">{{i.FirstName+ ' ' +i.LastName}}</span>
      </a>
      <ul class="dropdown-menu logoutMenu" aria-labelledby="dropdownMenuLink">
        <!-- <li><a class="dropdown-item">Profile</a></li>
        <li><a class="dropdown-item">Setting</a></li> -->
        <li><a class="dropdown-item logout" (click)="isLogOut()" >Log out <span class="ps-5"><i class="fa fa-sign-out" aria-hidden="true"></i></span></a> </li>
      </ul>
    </div>
  </div>
</div>

<!-- </nav> -->
